@keyframes upTo {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes topDown {
    from {
        top: 0;
    }
    to {
        top: 24px;
    }
}

@keyframes edu-animation {
    0% {
        transform: translateX(-52%) translateY(0) scale(1.2);
    }
    45% {
        transform: translateX(-52%) translateY(0) scale(1.7);
    }
    60% {
        transform: translateX(-52%) translateY(0) scale(1.9);
    }
    100% {
        transform: translateX(-52%) translateY(0) scale(1.2);
    }
}

@keyframes skill-progress {
    0% {
        width: 10%;
    }
    100% {
        width: var(--percent);
    }
}

@keyframes nav-animaton {
    from {
        transform: skewX(-25deg) translateX(-110%);
    }
    to {
        transform: skewX(-25deg) translateX(100%);
    }
}

.social-links-profile:hover .social-links__facebook,
.social-links-profile:hover .social-links__insta,
.social-links-profile:hover .social-links__tiktok,
.social-links-profile:hover .social-links__youtube {
    display: block;
}

.social-links-name:hover .youtube {
    color: white;
    background-color: rgb(12, 145, 212);
}

.facebook:hover {
    color: white;
    background-color: rgb(12, 145, 212);
}

.instagram:hover {
    color: white;
    background-color: rgb(235, 109, 130);
}

.tiktok:hover {
    color: white;
    background-color: black;
}

.youtube:hover {
    color: white;
    background-color: red;
}


/* navbar */

.nav-name:hover {
    background: linear-gradient(135deg, rgb(255, 85, 232), rgb(250, 189, 243), rgb(253, 223, 250));
    cursor: pointer;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset
    /* box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset; */
}

.nav li:hover::after {
    display: block;
}


/* content */

.school-name:hover {
    opacity: .5;
    color: black;
}


/*  */